@model CommunitySite.Web.Data.Models.Event

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article>
    <hgroup>
        <h2>@Html.DisplayFor(modelItem => Model.Title)</h2>
        @if (Model.Id != Guid.Empty)
        {
            <h3>@Html.DisplayFor(modelItem => Model.FromDate) - @Html.DisplayFor(modelItem => Model.ToDate)</h3>
        }
    </hgroup>
    <p>
        @Html.Raw(Model.Teaser)
    </p>
    <p>
        @Html.Raw(Model.Description)
    </p>
    <footer>
            <a
                href="http://www.facebook.com/sharer.php?u=@Request.Url.AbsoluteUri"
                target="_blank"
                title="Click to share"><img src="~/Content/Images/facebook.png"></a>
            &nbsp;
            <a
                href="http://twitter.com/share?text=.NET-Stammtisch Konstanz-Kreuzlingen: @Model.Title&url=@Request.Url.AbsoluteUri"
                target="_blank"
                title="Click to post to Twitter"><img src="~/Content/Images/tweet.png"></a>
            &nbsp;
            <a
                href="https://plus.google.com/share?url=@Request.Url.AbsoluteUri"
                target="_blank"
                title="Click to share"><img src="~/Content/Images/google-plus.png"></a>
            &nbsp;
            <div data-counter="no_count" data-type="XING/Share" data-url="@Request.Url.AbsoluteUri" data-lang="de"></div>
            <script>
                ; (function (d, s) {
                    var x = d.createElement(s),
                      s = d.getElementsByTagName(s)[0];
                    x.src = "https://www.xing-share.com/js/external/share.js";
                    s.parentNode.insertBefore(x, s);
                })(document, "script");
            </script>
    </footer>
</article>
