@model CommunitySite.Web.Data.Models.Event

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article>
    <hgroup>
        <h2>@Html.DisplayFor(modelItem => Model.Title)</h2>
        @if (Model.Id != Guid.Empty)
        {
            <h3>@Html.DisplayFor(modelItem => Model.FromDate) - @Html.DisplayFor(modelItem => Model.ToDate)</h3>
        }
    </hgroup>
    <p>
        @Html.Raw(Model.Teaser)
    </p>
    <p>
        @Html.Raw(Model.Description)
    </p>
    <footer>
        <p>&nbsp;</p>
    </footer>
</article>
