@model CommunitySite.Web.Data.Models.Event

<article>
    <hgroup>
        <h2>@Html.DisplayFor(modelItem => Model.Title)</h2>
        @if (Model.Id != Guid.Empty)
        {
            <h3>@Html.DisplayFor(modelItem => Model.FromDate) - @Html.DisplayFor(modelItem => Model.ToDate)</h3>
        }
    </hgroup>
    <p>
        @Html.Raw(Model.Teaser)
    </p>
    <footer>
        @if (Model.Id != Guid.Empty)
        {
            <p>@Html.ActionLink("Details", "Detail", "Events", new { id = Model.Id }, new { })</p>
        }
        <p>&nbsp;</p>
    </footer>
</article>
